{{#each posts}}
    <div class="col-xs-2">
        <div class="box">
            <p class="box-category">Entertainment</p>
            <h2 class="box-title">{{this.title}}</h2>
            <p class="box-author"{{this.author}}</p>
            <p class="box-content">{{this.content}}</p>
            <div class="box-bottom-border"></div>
        </div>
    </div>
{{/each}}