@font-face {
    font-family: LeagueGothic;
    src: url('../fonts/LeagueGothic-Regular.otf') format("opentype");
}

@font-face {
    font-family: DroidSans;
    src: url('../fonts/DroidSans-Regular.ttf') format("truetype");
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    /* background-image: url('../images/background.png'); */
    /* background-size: cover; */
     background: repeating-linear-gradient(to right, #0e4a4b 0%, #116769 21%, #116a6e 50%, #116769 79%, #0e4a4b 100%);
    font-family: LeagueGothic;
    overflow-x: hidden;
}

.clear-float {
    clear: both;
}

a {
    color: inherit;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

.hbox {
    margin-left: 65px;
}

.boxes-container {
    margin-left: 60px;
}

.i-bg-yellow {
    color: #dcc08e;
}

header {
    margin-top: 125px;
}

nav ul {
    position: relative;
    width: 100%;
    margin-top: 30px;
    margin-left: 25px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav ul li {
    padding-left: 20px;
    font-size: 18px;
    text-transform: uppercase;
    color: #ffffff;
}

nav ul li:last-of-type {
    position: absolute;
    right: 83px;
    font-style: italic;
    /*margin-left: 300px;*/
}

nav input[type="text"] {
    background: linear-gradient(to right, #1d4646, #1c3a39);
    width: 190px;
    height: 32px;
    padding: 14px 12px;
    border: none;
    outline: none;
    color: #ffffff;
}

nav .search-img {
    position: absolute;
    right: 11px;
    top: 9px;
    width: 13px;
    height: 13px;
}

.i-bold {
    font-weight: bold;
}

.i-uppercase {
    text-transform: uppercase;
}

main {
    margin-top: 60px;
}

.box {
    margin-left: 26px;
    margin-bottom: 25px;
    position: relative;
    max-width: 230px;
    overflow: hidden;
    height: 360px;
    background: #ffffff;
}

.big-box {
    margin-left: 26px;
    margin-bottom: 25px;
    position: relative;
    max-width: 486px;
    overflow: hidden;
    height: 360px;
    background: #ffffff;
}

.box-category {
    position: absolute;
    top: 3px;
    right: 3px;
    padding: 8px;
    font-size: 16px;
    text-transform: uppercase;
    background: #7e426d;
    color: #ffffff;
}

.box-title {
    margin-top: 200px; 
    margin-left: 16px;
    font-size: 22px;
    font-weight: bold; /* trial */
    text-transform: uppercase;
    color: #7e426d;
}

.box-author {
    margin-top: -10px; 
    margin-left: 16px;
    font-size: 14px;
    text-transform: uppercase;
    color: #212121;
    z-index: 992;
}

.box-content {
    padding-left: 16px;
    padding-top: 15px;
    color: #8b8787;
    border-top: 1px dotted #a8a8a8;
    font-size: 10px;
    font-family: DroidSans;
}

.box-bottom-border {
    background: repeating-linear-gradient( -45deg, #cbcbcb, #cbcbcb 1px, #ffffff 1px, #ffffff 4px);
    position: absolute;
    bottom: 1px;
    left: 0;
    width: 100%;
    height: 9px;
}

.box-top-border {
    background: repeating-linear-gradient( -45deg, #cbcbcb, #cbcbcb 1px, #ffffff 1px, #ffffff 4px);
    position: absolute;
    top: 1px;
    left: 0;
    width: 100%;
    height: 9px;
}

.page-img {
    margin-left: 26px;
    width: 25px;
    height: 27px;
    display: inline-block;
}

.page-img:first-of-type {
    position: absolute;
    left: 0;
}

.page-img:last-of-type {
    position: absolute;
    right: 0;
}

.i-page-link {
    color: #ffffff;
    font-size: 27px;
    margin-left: 19px;
}

.i-padding-reset {
    padding: 0;
}

.current-nav {
    color: rgba(0, 0, 0, 0.5);
    margin-top: -25px;
    margin-left: 100px;
}

.current-box {
    position: relative;
    background-color: #ffffff;
    height: 685px;
    max-width: 1200px;
}

.current-box-left {
    max-width: 228px;
}

.current-box .i-push-left {
    margin-left: 32px;
}

.current-box-image {
    position: relative;
    margin-top: 25px;
    margin-bottom: 25px;
    border: 5px solid #eeeeee;
    width: 186px;
    height: 186px;
}

.current-box-image img {
    width: 100%;
    height: 100%;
}

.current-box .box-category {
    top: 0;
    right: 0;
}

.current-box ul {
    list-style-type: none;
}

.current-box h2 {
    font-size: 18px;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 12px;
}

.current-box-tags ul {
    margin-left: -45px;
    font-size: 8px;
    text-transform: uppercase;
    font-family: DroidSans;
    color: #6e6e6e;
}

.current-box-tags ul li {
    padding: 10px;
    background-color: #efefef;
    float: left;
    margin: 3px;
}

.current-box-related {
    margin-top: 25px;
}

.current-box-related ul {
    margin-top: 25px;
    font-size: 8px;
    font-family: DroidSans;
    color: #6e6e6e;
    margin: 0;
    padding: 0;
}

.li-link {
    width: 10px;
    height: 5px;
    margin-left: -3px;
}

.current-box-share {
    margin-top: 35px;
}

.current-box-share ul {
    margin: 0;
    padding: 0;
}

.current-box-share ul li {
    float: left;
    margin-left: 10px;
}

.current-box-share ul li:first-of-type {
    margin-left: 0;
}

.current-box-share ul img {
    width: 25px;
    height: 25px;
}

.current-box-right {
    margin-top: 25px;
    margin-left: 15px;
}

.current-box-right .box-title, .current-box-comments .box-title {
    font-size: 27px;
    margin: 0;
    color: #7e426d;
}

.current-box-right .box-author {
    margin: 0;
    margin-bottom: 13px;
}

.current-box-right .box-content {
    margin: 0;
    padding: 0;
    padding-top: 13px;;
    border-top: 1px dotted #a6a6a6;
}

.current-box-comments {
    padding: 10px 0px;
    background-color: #ffffff;
    position: relative;
    margin-left: 228px;
    margin-top: 16px;
    width: 972px;
}

.current-box-comments .box-title {
    margin-left: 29px;
    margin-top: 29px;
    margin-right: 36px;
    padding-bottom: 26px;
    border-bottom: 1px dotted #a6a6a6;
}

.comment {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: 26px;
    margin-left: 29px;
    padding-bottom: 18px;
    border-bottom: 1px dotted #a6a6a6;
}

.comment .comment-img {
    border: 4px solid #efefef;
    width: 64px;
    height: 64px;
}

.comment-details {
    margin-left: 17px;
}

.comment-author {
    font-size: 18px;
    color: #2c2c2c;
    text-transform: uppercase;
}

.comment-content {
    font-family: DroidSans;
    font-size: 9px;
    color: #8b8787;
    margin-bottom: 15px;
}

.comment button {
    position: absolute;
    right: 33px;
    bottom: 18px;
    border: 0;
    background-color: #efefef;
    color: #6e6e6e;
    width: 52px;
    height: 30px;
    /*margin-left: 50px;*/
    /*margin-bottom: 18px;*/
    font-size: 8px;
    font-family: DroidSans;
}

aside {
    margin-left: 15px;
}

aside ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

aside .nav-ul {
    width: 378px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

aside .nav-ul li {
    width: 33.33%;
    float: left;
    background-color: #d6d6d6;
}

.aside-box {
    background-color: #e7e7e7;
}

.selected-aside-post {
    background-color: #e7e7e7;
}

.aside-post {
    max-width: 378px; 
    height: 337px;
    margin-bottom: 16px;
    position: relative;
}

.aside-widget {
    max-width: 378px; 
    height: 277px;
    margin-bottom: 16px;
    position: relative;
}

.aside-title {
    margin: 0;
    padding: 22px 29px 14px 31px;
    font-size: 22px;
    text-transform: uppercase;
    color: #7e426d;
    border: 1px dotted #969696;
}

.aside-content .content {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 68px;
    border-bottom: 1px dotted #969696;
}

.aside-content .content img {
    width: 44px;
    height: 44px;
    margin: 14px 10px 10px 17px;
}

.aside-content .content-details {
    margin-top: 18px;
}

.aside-content .content .content-title {
    font-size: 10px;
    color: #000000;
}

.aside-content .content .content-date {
    font-size: 9px;
    font-family: DroidSans;
    font-style: italic;
    color: #a1a1a1;
    margin-top: -5px;
}

.aside-widget ul li {
    margin-top: 22px;
    margin-left: 24px;
    color: #979393;
    font-size: 10px;
    font-family: DroidSans;
}

.aside-widget .li-link {
    margin-right: 13px;
}

.aside-widget .text-content {
    margin-top: 22px;
    margin-left: 24px;
    color: #979393;
    font-size: 9px;
    font-family: DroidSans;
}

footer {
    border-top: 1px solid #317476;
    margin-top: 51px;
    height: 415px;
    background: repeating-linear-gradient(to right, #0c464a 0%, #0f5b5f 21%, #0f5d60 50%, #0f5b5f 79%, #0c464a 100%);
}

.footer-section {
    margin-left: 190px;
    margin-top: 50px;
    width: 100%;
    padding: 0;
}

.footer-section .section-content p {
    width: 275px;
    margin: 0;
    padding: 0;
}

.footer-section .section-title {
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.footer-section .section-content {
    font-family: DroidSans;
    font-size: 9px;
    color: #ffffff;
    width: 100%;
}

footer ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

footer ul li {
    margin-bottom: 21px;
}

footer ul li img {
    width: 9px;
    height: 9px;
    margin-right: 11px;
}

footer .sections-container {
}


