@font-face {
    font-family: LeagueGothic;
    src: url('../fonts/LeagueGothic-Regular.otf') format("opentype");
}

@font-face {
    font-family: DroidSans;
    src: url('../fonts/DroidSans-Regular.ttf') format("truetype");
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    /* background-image: url('../images/background.png'); */
    /* background-size: cover; */
     background: repeating-linear-gradient(to right, #0e4a4b 0%, #116769 21%, #116a6e 50%, #116769 79%, #0e4a4b 100%);
    font-family: LeagueGothic;
    overflow-x: hidden;
}

.hbox {
    margin-left: 65px;
}

.boxes-container {
    margin-left: 60px;
}

.i-bg-yellow {
    color: #dcc08e;
}

header {
    margin-top: 125px;
}

nav ul {
    position: relative;
    width: 100%;
    margin-top: 30px;
    margin-left: 25px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav ul li {
    padding-left: 20px;
    font-size: 18px;
    text-transform: uppercase;
    color: #ffffff;
}

nav ul li:last-of-type {
    position: absolute;
    right: 83px;
    font-style: italic;
    /*margin-left: 300px;*/
}

nav input[type="text"] {
    background: linear-gradient(to right, #1d4646, #1c3a39);
    width: 190px;
    height: 32px;
    padding: 14px 12px;
    border: none;
    outline: none;
    color: #ffffff;
}

nav .search-img {
    position: absolute;
    right: 11px;
    top: 9px;
    width: 13px;
    height: 13px;
}

.i-bold {
    font-weight: bold;
}

.i-uppercase {
    text-transform: uppercase;
}

main {
    margin-top: 60px;
}

.box {
    margin-left: 26px;
    margin-bottom: 25px;
    position: relative;
    max-width: 230px;
    overflow: hidden;
    height: 360px;
    background: #ffffff;
}

.big-box {
    margin-left: 26px;
    margin-bottom: 25px;
    position: relative;
    max-width: 486px;
    overflow: hidden;
    height: 360px;
    background: #ffffff;
}

.box-category {
    position: absolute;
    top: 3px;
    right: 3px;
    padding: 8px;
    font-size: 16px;
    text-transform: uppercase;
    background: #7e426d;
    color: #ffffff;
}

.box-title {
    margin-top: 200px; 
    margin-left: 16px;
    font-size: 22px;
    font-weight: bold; /* trial */
    text-transform: uppercase;
    color: #7e426d;
}

.box-author {
    margin-top: -10px; 
    margin-left: 16px;
    font-size: 14px;
    text-transform: uppercase;
    color: #212121;
    z-index: 992;
}

.box-content {
    padding-left: 16px;
    padding-top: 15px;
    color: #8b8787;
    border-top: 1px dotted #a8a8a8;
    font-size: 10px;
    font-family: DroidSans;
}

.box-bottom-border {
    background: repeating-linear-gradient( -45deg, #cbcbcb, #cbcbcb 1px, #ffffff 1px, #ffffff 4px);
    position: absolute;
    bottom: 1px;
    left: 0;
    width: 100%;
    height: 9px;
}

.page-img {
    margin-left: 26px;
    width: 25px;
    height: 27px;
    display: inline-block;
}

.page-img:first-of-type {
    position: absolute;
    left: 0;
}

.page-img:last-of-type {
    position: absolute;
    right: 0;
}

.i-page-link {
    color: #ffffff;
    font-size: 27px;
    margin-left: 19px;
}

footer {
    border-top: 1px solid #317476;
    margin-top: 51px;
    height: 415px;
    background: repeating-linear-gradient(to right, #0c464a 0%, #0f5b5f 21%, #0f5d60 50%, #0f5b5f 79%, #0c464a 100%);
}

.footer-section {
    margin-left: 190px;
    margin-top: 50px;
    width: 100%;
    padding: 0;
}

.footer-section .section-content p {
    width: 275px;
    margin: 0;
    padding: 0;
}

.footer-section .section-title {
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.footer-section .section-content {
    font-family: DroidSans;
    font-size: 9px;
    color: #ffffff;
    width: 100%;
}

footer ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

footer ul li {
    margin-bottom: 21px;
}

footer ul li img {
    width: 9px;
    height: 9px;
    margin-right: 11px;
}

footer .sections-container {
}


